*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.on-boarding .container {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
	font-family: 'Poppins';
	font-size: 14px;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

.step-top {
	flex-grow: 1;
	place-content: flex-end;
	display: flex;
	flex-direction: column;
}

.on-boarding__header {
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 0;
}

.on-boarding__cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 45px;
	flex-grow: 2;
	place-content: center;
}

.on-boarding__card {
	width: 27%;
	padding: 0 20px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

.just-center {
	justify-content: center;
}

.on-boarding__card .card__img-container {
	padding-top: 50%;
	position: relative;
	width: 100%;
}

.on-boarding__card .card__img-container img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.on-boarding__card .card__list-number {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(127, 172, 41);
	height: 40px;
	width: 40px;
	color: white;
	font-weight: 700;
	top: 0;
	left: 0;
	font-size: 21px;
}

.on-boarding .card__text {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: rgb(117, 117, 117);
}

.card__text--sub {
	margin: .8em 0 2em 0;
	line-height: 1.2em;
}

.bottom-nav {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.bottom-nav .btn {
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding: 12px 42px;
	border-radius: 24px;
	position: relative;
}

.bottom-nav .btn--prev {
	background: rgb(241, 102, 103);
}

.btn--prev:before {
	content: '';
	position: absolute;
	display: inline-block;
	height: 8px;
	width: 8px;
	border: 2px solid white;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	position: absolute;
	left: 24px;
	top: calc(50% - 5px);
	transform: rotate(45deg);
}

.bottom-nav .btn--next {
	background: rgb(24, 144, 255);
}

.btn--next:before {
	content: '';
	position: absolute;
	display: inline-block;
	height: 8px;
	width: 8px;
	border: 2px solid white;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	position: absolute;
	right: 24px;
	top: calc(50% - 5px);
	transform: rotate(-135deg);
}

.btn:hover {
	opacity: .9;
}

.btn:focus,
.btn:active {
	color: white;
}

.nav-circles {
	display: flex;
}

.nav__circle {
	width: 8px;
	height: 8px;
	background: rgba(241, 102, 103, .7);
	border-radius: 50%;
	margin: 3px;
}

.nav__circle--active {
	background: rgba(241, 102, 103, 1);
	width: 16px;
	border-radius: 24px;
}

.nav__circle:hover {
	opacity: .9;
	cursor: pointer;
}

.list-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin-left: 130px;
	margin-bottom: 45px;
	place-content: center;
	flex-grow: 2;
}

.list-item {
	display: flex;
	width: 100%;
}

.list-item__text {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.list-item__bold {
	font-weight: 800;
	color: black;
}

.list-item__link,
.list-item__link:active,
.list-item__link:focus,
.list-item__link:visited {
	color: rgb(24, 144, 255);
}

.list-item__link:hover {
	opacity: .8;
}

.list-item__img img {
	width: 50px;
	height: 50px;
}

.list-item--last {
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: rgb(117, 117, 117);
}

.btn--tutorial {
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	display: flex;
	border-radius: 24px;
	color: rgb(24, 144, 255);
	border: 1px solid rgb(24, 144, 255);
	justify-content: center;
	align-items: center;
	padding: 8px 22px;
}

.btn--tutorial:active,
.btn--tutorial:visited {
	color: rgb(24, 144, 255);
}

.btn--tutorial i {
	margin-right: 5px;
}

.btn--tutorial:hover {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}

.step4-list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	place-content: center;
	flex-grow: 2;
}

.step4-list__item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
	border-radius: 15px;
	display: flex;
	padding: 10px;
	margin: 5px;
	align-items: center;
}

.step4-list__item img {
	height: 40px;
	width: 40px;
}

.step4-list__item__text {
	color: rgb(117, 117, 117);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5px;
}

.step4-list__item__text p {
	margin: 0;
}

/* media */

@media only screen and (max-width: 800px) {
	.container {
		width: 100%;
		margin: 0 5px;
	}
	.on-boarding__cards {
		flex-direction: column;
	}
	.on-boarding__card {
		width: 100%;
	}
	.nav-circles {
		display: none;
	}
	.list-items {
		margin-left: 0;
	}
	.list-item {
		margin: 5px 0;
	}
	.list-item__link {
		word-break: break-all;
	}
	.step4-list__item {
		margin: 5px 0;
	}
}
